body{
	background: lime;
	color: green;
}
.wrapper{
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}
ul{
	font-size: 0;
	text-align: center;
}
ul li{
	display: inline-block;
	background: orange;
	font-size: 25px;
	position: relative;
}
ul li:hover{
	background: yellow;
}
ul li+li{
	border-left: 2px solid green;
}
ul li a{
	display: block;
	color: greenyellow;
	text-transform: uppercase;
	text-decoration: none;
	padding: 20px 30px;
}
ul ul{
	position: absolute;
	top: 100%;
	right: 0;
	display: none;
}
ul ul li{
	border: none;
}
ul li:hover ul{
	display: block;
}